<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="aboutus-section bg-white" *ngIf="!isLoading">
  <div class="gVNnqW" [ngStyle]="{ 'background-image': 'url(' + restaurant?.cover + ')'}">
  </div>
  <div class="container mt-4">

    <div class="row px-4">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="aboutus">
          <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text">Name : <span class="font-weight-bold"> {{restaurant?.name}} </span></p>
          <p class="aboutus-text">Email : <span class="font-weight-bold"> {{restaurant?.email}} </span></p>
          <p class="aboutus-text">Contact Number : <span class="font-weight-bold"> {{restaurant?.contact}} </span></p>
          <p class="aboutus-text">City : <span class="font-weight-bold"> {{restaurant?.city}} </span></p>
          <p class="aboutus-text">Cuisines : <span class="font-weight-bold"> {{restaurant?.cuisine}} </span></p>
          <p class="aboutus-text">Cost : <span class="font-weight-bold"> {{restaurant?.cost}} </span></p>
          <p class="aboutus-text">House No. : <span class="font-weight-bold"> {{restaurant?.house_no}} </span></p>
          <p class="aboutus-text">Street Name : <span class="font-weight-bold"> {{restaurant?.st_name}} </span></p>
          <p class="aboutus-text">Postal Code : <span class="font-weight-bold"> {{restaurant?.postal_code}} </span></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="aboutus-banner">
          <img [src]="restaurant?.imagePath" alt="restaurant?.name" class="rounded-circle img-thumbnail">

          <div class="mt-5 mx-auto w-100 text-center" *ngIf="restaurant?.active_stts === 'Pending'  ">
            <a mat-button color="primary" (click)="onAccept(restaurant.id)">Accept</a>
            <a mat-button color="warn" (click)="onDelete(restaurant.id)">Reject</a>
          </div>

        </div>
      </div>
    </div>

    <hr class="w-75 mb-5 text-center">

    <div class="container-fluid bg m-4 shadow-lg">
      <div class="row p-4">
        <div class="col-lg-4 col-md-4 col-sm-12">

          <div class="text-left text-white hel">
            <h2>Services</h2>
            <p>Lorem ipsum dolor sit amet</p>
          </div>

        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 p-5">

          <div class=" bg-white p-5 shadow-lg rounded">

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 px-5 " *ngFor="let add of restaurant?.additional">
                <i class="fa fa-check icon text-success" aria-hidden="true"></i>
                <p>{{ add }}</p>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
