<div class="container mt-5 px-4">
  <h1 class="text-danger text-right"> Details </h1>
  <hr>

  <div class="container-fluid row mb-5">
      <div class="col-lg-4 col-md-4 col-12">
          <img [src]="restaurant?.imagePath" alt="restaurant?.name" class="rounded-circle img-thumbnail">
      </div>

      <div class="col-lg-2 col-md-2 col-12 ">
          <p class="card-text my-4">Name : </p>
          <p class="card-text my-4">Contact Number : </p>
          <p class="card-text my-4">City :</p>
          <p class="card-text my-4">Cuisines : </p>
          <p class="card-text my-4">Cost :</p>
          <p class="card-text my-4">House No : </p>
          <p class="card-text my-4">Street Name :</p>
          <p class="card-text my-4">Postal Code : </p>
      </div>

      <div class="col-lg-6 col-md-6 col-12 ">
          <p class="card-text my-4">{{restaurant?.name}}</p>
          <p class="card-text my-4">{{restaurant?.contact}}</p>
          <p class="card-text my-4">{{restaurant?.city}}</p>
          <p class="card-text my-4">{{restaurant?.cuisine}}</p>
          <p class="card-text my-4">{{restaurant?.cost}}</p>
          <p class="card-text my-4">{{restaurant?.house_no}}</p>
          <p class="card-text my-4">{{restaurant?.st_name}}</p>
          <p class="card-text my-4">{{restaurant?.postal_code}}</p>
      </div>

      <h2>Additional Information</h2>
      <hr>
      <ul class="container my-2" *ngFor="let add of restaurant?.additional">
        <li>{{ add }}</li>
      </ul>
      <!-- [routerLink]="['/admin/create', emp?._id  || 'all' ]"     "-->
          <button  class="btn btn-default ml-auto" [routerLink]="['../../addrestaurant', restaurant?.id  || 'all' ]">Edit</button>
  </div>
</div>
