
<div class="aboutus-section ">
  <div class="container">
    <div class="row px-4">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="aboutus">
          <h2 class="aboutus-title">About Us</h2>
          <p class="aboutus-text">Name : <span class="font-weight-bold"> {{restaurant?.name}} </span></p>
          <p class="aboutus-text">Contact Number : <span class="font-weight-bold"> {{restaurant?.contact}} </span></p>
          <p class="aboutus-text">City : <span class="font-weight-bold"> {{restaurant?.city}} </span></p>
          <p class="aboutus-text">Cuisines : <span class="font-weight-bold"> {{restaurant?.cuisine}} </span></p>
          <p class="aboutus-text">Cost : <span class="font-weight-bold"> {{restaurant?.cost}} </span></p>
          <p class="aboutus-text">House No. : <span class="font-weight-bold"> {{restaurant?.house_no}} </span></p>
          <p class="aboutus-text">Street Name : <span class="font-weight-bold"> {{restaurant?.st_name}} </span></p>
          <p class="aboutus-text">Postal Code : <span class="font-weight-bold"> {{restaurant?.postal_code}} </span></p>
          <a class="aboutus-more" [routerLink]="['../addrestaurant', restaurant?.id  || 'all' ]">Edit</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="aboutus-banner">
          <img [src]="restaurant?.imagePath" alt="restaurant?.name" class="rounded-circle img-thumbnail">
        </div>
      </div>
    </div>

    <div class="container-fluid text-center card p-4 m-4">
      <h2 >Services</h2>
      <br>
      <div class="row">
        <div class="col-sm-4 p-2"  *ngFor="let add of restaurant?.additional">
          <i class="fa fa-check icon text-success" aria-hidden="true"></i>
          <p>{{ add }}</p>
        </div>
        <br><br>
    </div>

  </div>
</div>
