<mat-spinner *ngIf="isLoading"></mat-spinner>
<div *ngIf="restaurants.length > 0 && !isLoading" class="container-fluid clr  ">

  <div class="container">

    <h3 class="my-4 w-75 ">Local Restaurants Nearby</h3>
<hr>
    <div class="card w-75 shadow mx-auto my-4" *ngFor="let restaurant of restaurants"  [routerLink]="['/details', restaurant.id]">

      <div class="gVNnqW" [ngStyle]="{ 'background-image': 'url(' + restaurant?.cover + ')'}">
      </div>
      <div class="row my-3">
        <div class="col-lg-4 col-md-4 col-12 text-center">
            <img  class="rounded-circle img-thumbnail" [src]="restaurant.imagePath" [alt]="restaurant.name" />
        </div>

        <div class="col-lg-8 col-md-8 col-12">
          <div class="card-heading">
            <p class="text-muted font-weight-bold">{{ restaurant.cuisines.toUpperCase() }}</p>
            <h1 class="text-danger font-weight-bold">{{ restaurant.name }}</h1>
            <h2>{{ restaurant.city }}</h2>
            <p class="dull">{{ restaurant.house_no }} {{ restaurant.st_name}}, {{restaurant.city}}
              {{restaurant.postal_code}}</p>
          </div>
        </div>
      </div>

      <!-- <div class="container-fluid row ">
        <div class="col-lg-4 col-md-4 col-12">
        <p class="dull2">CUISINES:</p>
        <p class="dull2">AVG. COST:</p>
        <p class="dull2">Contact No.:</p>
      </div>

      <div class="col-lg-4 col-md-4 col-12">
        <p>{{ restaurant.cuisines }}</p>
        <p>{{ restaurant.cost }}</p>
        <p>{{ restaurant.contact }}</p>

      </div>
    </div> -->
      </div>
  </div>
</div>

<p *ngIf="restaurants.length <= 0 && !isLoading">No Restaurants added yet!</p>
<!-- <mat-action-row>
        <a mat-button color= "primary" [routerLink]="['/edit', restaurant.id]">EDIT</a>
        <button mat-button color= "warn" (click)="onDelete(restaurant.id)">DELETE</button>
      </mat-action-row> -->
