
 .mat-raised-button{
   height: 40px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 15px;
   text-align: center;
   width: 100%;
   background-color: #cb202d;
 }

 .clr{
  background-color: #F2F4F5;
}

img{
  width: 130px;
}

.gVNnqW {
  background-size: cover;
  width: 100%;
  background-position: center center;
  height: 300px;
  display: flex;
    position: relative;
    border-bottom: 1px solid rgb(225, 229, 232)
}

.card:focus {
  outline: 0;
}

.card:hover {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  cursor: pointer;
}
