<div *ngIf="!userIsAuthenticated">
  <button mat-raised-button routerLink="/login">Login Fist</button>
</div>

<div class="container" *ngIf="userIsAuthenticated">
  <h2 class="text-danger">Your Orders</h2>
  <div class="coantainer" *ngFor="let item of orders">


    <mat-card class="mb-4">
      <h3 class="text-danger"> {{ item?.restname }} </h3>
      <div class="container" *ngFor="let info of item?.info">
        <p> Deliver to : {{ info?.name }}</p>
        <p>Address : {{ info?.address }}</p>
        <p>Contact : {{ info?.phone }}</p>
        <p class="text-danger">Status: {{ item?.status }}</p>
      </div>

      <table class="table table-hover" *ngIf="orders.length > 0">
        <thead>
          <tr>
            <th>S. No.</th>
            <th>Item Name</th>
            <th>Item Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of item.orders">
            <!-- [routerLink]="['/employeedetails', employee?._id  || 'all' ]" -->
            <td><i class="fas fa-chevron-circle-right"></i></td>
            <td>{{ order?.name }}</td>
            <td>{{ order?.cost }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card>

  </div>
</div>
<p *ngIf="orders.length <= 0"> Empty Cart </p>
