
mat-form-field,mat-radio-group ,mat-radio-button  {
  width: 100%;
}

.image-preview, .Cover-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img, .Cover-preview img {
  height: 100%;
}
