<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="gVNnqW" [ngStyle]="{ 'background-image': 'url(&quot;' + restaurant?.cover + '&quot;)'}">
</div>

<div class="container-fluid border-bottom bg-white mb-3 shadow rounded">

  <div class="container p-3">

    <div class="row">
      <div class="col-lg-2 col-md-4 col-sm-12">
        <img class="rounded-circle img-thumbnail" [src]="restaurant?.imagePath" [alt]="restaurant?.name" />
      </div>

      <div class="col-lg-10 col-md-8 col-sm-12 my-2">
        <h1 class="text-danger font-weight-bold">{{ restaurant?.name }}</h1>
        <p class="small">{{ restaurant?.city }} &#8226; {{restaurant?.cuisine}}</p>
        <p class="small">CAD {{ restaurant?.cost }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid clr">
  <div class="container p-3">
    <h6 class="mt-4">Overview</h6>
    <hr class="mb-4">

    <div class="card py-1 px-5 shadow-sm bg-white">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <p class="text-muted  font-weight-bold small my-3">Phone Number</p>
          <p>{{ restaurant?.contact }}</p>
          <p class="text-muted font-weight-bold small my-3">Cuisines</p>
          <p>{{ restaurant?.cuisine }}</p>
          <p class="text-muted font-weight-bold small my-3">Average Cost</p>
          <p>CAD {{ restaurant?.cost }}</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 my-2">
          <p class="text-muted font-weight-bold small my-3">Address</p>
          <p>{{ restaurant?.house_no }} {{ restaurant?.st_name}}, {{restaurant?.city}} {{restaurant?.postal_code}}</p>
          <p class="text-muted font-weight-bold small my-3">Email</p>
          <p>{{ restaurant?.email }}</p>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 my-2">
          <p class="text-muted font-weight-bold small my-3">Additional Services</p>
          <ul *ngFor="let add of restaurant?.additional">
            <li>{{ add }}</li>
          </ul>
        </div>

      </div>
    </div>

    <h6 class="mt-5">Menu</h6>
    <hr class="mb-4">
    <div class="py-1 px-5">
      <app-restaurant-menu></app-restaurant-menu>
    </div>


    <h6 class="mt-5">Add Reviews</h6>
    <hr class="mb-4">
    <app-review-create></app-review-create>

    <h6 class="mt-5">Reviews</h6>
    <hr class="mb-4">
    <div class="card shadow-sm bg-white px-4 py-3">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>



<!-- <p *ngIf="restaurants.length <= 0 && !isLoading">No Movies added yet!</p> -->
