<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="post">
  <div class="poster">
    <mat-card>
      <div class="card">
        <div class="card-image">
          <img [src]="restaurant?.imagePath" [alt]="restaurant?.name" />
        </div>

        <div class="card-heading">
          <h1>{{ restaurant?.name }}</h1>
          <p class="dull">{{ restaurant?.city }} &#8226; {{restaurant?.cuisine}}</p>
          <!-- <p class="dull">{{ restaurant.House_no }} {{ restaurant.St_Name}}, {{restaurant.City}} {{restaurant.Postal_Code}}</p> -->
        </div>
      </div>

      <hr>

    </mat-card>
  </div>
</div>

<div class="post">
  <mat-card>
<!--
    <p>
      <button (click)="writeComment()">Write</button>
      <button (click)="showComment()">Read</button>
    </p> -->

    <mat-tab-group  (selectedTabChange)="fireEvent($event)">
      <mat-tab label="Overview">
        <div class="card-details">
          <div class="card1">
            <div class="sec1">
              <p class="dull2">Phone Number</p>
              <p>{{ restaurant?.contact }}</p>
            </div>
            <div class="sec1">
              <p class="dull2">Cuisines</p>
              <p>{{ restaurant?.cuisine }}</p>
            </div>
            <div class="sec1">
              <p class="dull2">Average Cost</p>
              <p>CAD {{ restaurant?.cost }}</p>
            </div>
          </div>

          <div class="card1">
            <div class="sec1">
              <p class="dull2">Address</p>
              <p>{{ restaurant?.house_no }} {{ restaurant?.st_name}}, {{restaurant?.city}} {{restaurant?.postal_code}}
              </p>
            </div>
          </div>

          <div class="card1">
            <div class="sec1">
              <p class="dull2">Additional Services</p>
              <ul *ngFor="let add of restaurant?.additional">
                <li>{{ add }}</li>
              </ul>
            </div>
          </div>

        </div>
      </mat-tab>
      <mat-tab label="Photos">
        <!-- <app-review-photos></app-review-photos> -->
      </mat-tab>
      <mat-tab label="Reviews">
        <!-- <app-review-create></app-review-create> -->
        <!-- <app-review-list></app-review-list> -->
      </mat-tab>
    </mat-tab-group>

    <div class="post" *ngIf="edited==true" >
     <router-outlet></router-outlet>
    </div>
  </mat-card>
</div>

<div class="post1">
  <div class="poster">
    <mat-card>
      <h2>Reviews</h2>
      <hr>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</div>


<div class="post1">
  <div class="poster">
    <mat-card>
      <h2>Menu</h2>
      <hr>
     <app-restaurant-menu></app-restaurant-menu>
    </mat-card>
  </div>
</div>

<!-- <p *ngIf="restaurants.length <= 0 && !isLoading">No Movies added yet!</p> -->
