<div *ngIf="reviews.length > 0 && !isLoading">
  <div *ngFor="let review of reviews">
    <div class="mt-3 mx-5">
      <h5> {{ review?.name }} </h5>

      <div class="post-image" *ngIf="review.imagePath !== '' ">
        <img [src]="review.imagePath" alt="review Pic">
      </div>
      <div class="card p-2 my-2">
        <p>{{ review.content }}</p>
      </div>


      <mat-action-row class="mt-4" *ngIf="userIsAuthenticated && userId === review.creator">
        <i class="fas fa-pen mr-5 my-4 text-success" [routerLink]="['/write', review._id]"> Edit</i>
        <i class="fas fa-trash-alt my-3 text-danger" (click)="onDelete(review._id)"> Delete</i>
      </mat-action-row>
    </div>
    <hr class="py-3">
  </div>

</div>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" (page)="onChangedPage($event)"
  *ngIf="reviews.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="reviews.length <= 0 && !isLoading">No Reviews added yet!</p>
