<div *ngIf="reviews.length > 0 && !isLoading">
  <div *ngFor="let review of reviews">
    <p>{{ review.content }}</p>
    <div class="post-image" *ngIf="review.imagePath !== '' " >
      <img [src]="review.imagePath" alt="review Pic">
    </div>

    <mat-action-row *ngIf="userIsAuthenticated && userId === review.creator">
      <a mat-button color="primary" [routerLink]="['/write', review.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(review.id)">DELETE</button>
    </mat-action-row>
  </div>
</div>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" (page)="onChangedPage($event)"
  *ngIf="reviews.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="reviews.length <= 0 && !isLoading">No Reviews added yet!</p>
