<mat-nav-list>
  <h2 matSubheader *ngIf="userIsAuthenticated && userisrest">Orders</h2>

  <!-- ForUsers -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./orders"
      *ngIf="userIsAuthenticated && userisrest">
      <i class="fas fa-clock mx-3"></i>
      Orders
  </a>

  <h2 matSubheader *ngIf="userIsAuthenticated && userisAdmin">Request</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="./"
      *ngIf="userIsAuthenticated && userisAdmin">
      <i class="fas fa-clock mx-3"></i>
      Request
  </a>

  <mat-divider></mat-divider>
  <h2 matSubheader *ngIf="userIsAuthenticated && userisrest">Menu</h2>

  <!-- ForUsers -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./create"
      *ngIf="userIsAuthenticated && userisrest">
      <i class="fas fa-clock mx-3"></i>
      Add Menu
  </a>

  <h2 matSubheader *ngIf="userIsAuthenticated && userisAdmin">Login Credentials</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="./assign"
      *ngIf="userIsAuthenticated && userisAdmin">
      <i class="fas fa-clock mx-3"></i>
      Assign Login Credentials
  </a>


  <a mat-list-item routerLinkActive="list-item-active" routerLink="./menu"
      *ngIf="userIsAuthenticated && userisrest">
      <i class="fas fa-clock mx-3"></i>
      Menu List
  </a>

  <mat-divider></mat-divider>

  <h2 matSubheader *ngIf="userIsAuthenticated && userisrest">About</h2>

  <!-- ForUsers -->
  <a mat-list-item routerLinkActive="list-item-active" routerLink="./"
      *ngIf="userIsAuthenticated && userisrest">
      <i class="fas fa-clock mx-3"></i>
      About
  </a>



</mat-nav-list>
