<div class="container py-5">
  <div class="row">
    <div class="container" *ngIf="menus.length > 0 && !isLoading">
      <div *ngFor="let menu of menus">
        <div class="col-12 mt-4">
          <h4>Breakfast</h4>
          <hr class="accent my-5">
        </div>
        <div class="card-columns">
          <div class="card card-body" *ngFor="let breakfast of menu.breakfast">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img [src]="breakfast?.imagepath" [alt]="breakfast?.name" class="rounded-circle w-100">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <span class="float-right font-weight-bold">$ {{ breakfast?.cost }}</span>
                <h6 class="text-truncate">{{ breakfast?.name }}</h6>
                <p class="small">Tito's Vodka and White Créme de Cacao dusted with hand shaved chocolate.</p>
                <td class="text-right"><i class="fas fa-pen mx-1"
                    [routerLink]="['../create', 'breakfast' ,breakfast?._id  || 'all' ]"></i>
                  <i class="fas fa-trash-alt mx-4" (click)="onDelete(breakfast?._id,'breakfast')"></i></td>
              </div>
            </div>


          </div>
        </div>


        <div class="col-12 mt-4">
          <h4>Lunch</h4>
          <hr class="accent my-5">
        </div>
        <div class="card-columns">
          <div class="card card-body" *ngFor="let lunch of menu.lunch">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img [src]="lunch?.imagepath" [alt]="lunch?.name" class="rounded-circle w-100">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <span class="float-right font-weight-bold">$ {{ lunch?.cost }}</span>
                <h6 class="text-truncate">{{ lunch?.name }}</h6>
                <p class="small">Sustainably raised Argentine red shrimp, fried golden brown and served with chipotle
                  mayonnaise
                  for dipping.</p>
                <td><i class="fas fa-pen mx-1" [routerLink]="['../create', 'lunch' , lunch?._id  || 'all' ]"></i>
                  <i class="fas fa-trash-alt mx-4" (click)="onDelete(lunch?._id,'lunch')"></i></td>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 mt-4">
          <h4>Dinner</h4>
          <hr class="accent my-5">
        </div>
        <div class="card-columns">
          <div class="card card-body" *ngFor="let dinner of menu.dinner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img [src]="dinner?.imagepath" [alt]="dinner?.name" class="rounded-circle w-100">
              </div>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <span class="float-right font-weight-bold">$ {{ dinner?.cost }}</span>
                <h6 class="text-underline">{{ dinner?.name }}</h6>
                <p class="small">New Orleans style hot sliced Cajun chicken breast with mixed greens, tomatoes,
                  cucumbers
                  and
                  hard-cooked eggs with warm, spicy honey mustard dressing topped with crumbled bacon..</p>
                <td><i class="fas fa-pen mx-1" [routerLink]="['../create', 'dinner' , dinner?._id  || 'all' ]"></i>
                  <i class="fas fa-trash-alt mx-4" (click)="onDelete(dinner?._id,'dinner')"></i></td>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <p *ngIf="menus.length <= 0 && !isLoading">No Menu added yet!</p>
  </div>
</div>
